<!doctype html>
<html>
<head>
    <title>Project Tracker</title>
</head>
<body>
    <form action="/student-add" method="POST">
        <label>Enter GitHub username
            <input type="text" name="github">
        </label>
         <label>Enter student's firstname:
            <input type="text" name="firstname">
        </label>
         <label>Enter a last name: 
            <input type="text" name="lastname">
        </label>
        <input type="submit" value="Add Student">
    </form>
</body>
</html>